[Sizing Results]

[Performance]

[Main Rotor]
DiskLoading = 10 # pounds per square foot
NumRotors = 1 # number of rotors
NumBlades = 4
TipSpeed = 600 # ft/s
Kint = 1.0 # rotor interference fraction
Kov = 1.0 # rotor overlap fraction
AirfoilFile = SC1095.c81
DragDivergenceMachNumber = 1 # drag divergence mach number for the blade airfoil
Solidity = .11 # solidity ratio
TaperRatio = .8 # ratio of tip to root taper
TipTwist = -8 # twist of tip relative to root, degrees
RootCutout = .1 # nondimensional root cutout, fraction of radius

[Weights]
BaselineGrossWeight = 26500
BaselineEmptyWeight = 15500
BaselineEmptyWeightFraction = 0.58
NumEngines = 2
BaselineWeightPerEngine = 542
BaselineDriveSystemWeightScalingFactor = 0.0
StructureWeightTechImprovementFactor = 0.07
EngineWeightTechImprovementFactor = 0.07
DriveSystemWeightTechImprovementFactor = 0.07
WingWeightTechImprovementFactor = 0.07
UsefulLoad = 13500 #5120 # Minimum enforced payload capacity, pounds
# weight buildup

[Wing]
SpanRadiusRatio = 0 # ratio of wing span to rotor radius
WingChord = 5.7 # feet
MaxSpeed = 200.0 # knots
WingClMax = 1.3
WingCD0 = 0.009
OswaldEfficiency = 0.9
MaxWingLoadProportion = 0.7 # max proportion of weight to allow the wing to carry

[Aux Propulsion]
NumAuxProps = 0 # number of auxiliary propellers
PropEfficiency = 0.9 # etaP
PropulsionFactor = 0.9 # proportion of forward thrust that is carried by the aux propulsion

[Powerplant]
BaselineMRP = 1000 # hp
BaselineSFC = 0.337 #0.5 #0.337 # lbs/hp-hr
SFCTechImprovementFactor = 0
TransmissionEfficiency = .04 # transmission power losses

[Body]
DragTechImprovementFactor = 0
DownwashFactor = 0.09 # Downwash factor for rotor flow impinging on body

[Antitorque]
AntitorquePowerFactor = .10 # proportion of total power that goes to antitorque

[Simulation]
TimeStep = 20000 # mission time step, minutes
MaxSteps = 10000 # max number of simulation steps
GWMin = 20000 # minimum gross weight search bound, pounds
GWmax = 80000 # maximum gross weight search bound, pounds
GWTolerance = 25 # size of bounds on the sizing solution, pounds
TrimAccuracyPercentage = 5 # accuracy of the trim solution in percent
numBladeElementSegments = 30 # number of segments in the radian and circumferential direction to divide the rotor disk into
PowerCurveResolution = 10 # spacing of power curve steps, knots
HoverCeilingMax = 10000 # maximum hover ceiling search bound, feet
HoverCeilingMin = 0 # minimum hover ceiling search bound, feet
HoverCeilingTolerance = 10 # size of bounds on the hover ceiling

[Engine Scaling]
RequiredHoverHeight = 5000

[Power Curve]

[Condition]
CruiseAltitude = 3000

[Trim Failure]